*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #ffe285;
    background-image: url(./img/fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2{
    font-family: 'Titan One', cursive;
    text-align: center;
    font-size: 3em;
    color: #1F2B58;
}

header{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: 80vh ;
    display: flex;
    justify-content: center;
    align-items: start;
    justify-content: space-evenly;
}

.container-minion{
    height: 60vh;
    width: 30%;
}

.container-minion button{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    padding-bottom: 24px;
    background-color: transparent;
    border: none;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
}

.kevin img{
    height: 90%;
}

.stuart img{
   height: 70%;
}

.bob img{
    height: 60%;
}

.container-minion h3{
    text-align: center;
    font-size: 2rem;
    font-family: 'Titan One', cursive;
    color: #1F2B58;
}
