*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #D3E5FF;
    background-image: url(./img/fundo.png);
}

header{
    height: 12vh;
    font-family: 'Titan One', cursive;
}

main{
    height: 88vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.translate{
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea{
    
    width: 30vw;
    height: 40vh;
    display: flex;
    border: none;
    border-radius: 2em;
    padding: 16px;
    background-color: #FEFFDF;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 4em;
    text-align: center;
    color: #1F2B58;
}

.pilhaminions img{
    width: 10vw;
    height: 20vh;
}